.contenedor3 {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: aqua;
}

.ver {
    margin: 1px;
    padding: 1px;
    border-style: groove;
    border-color: blue;
    background-color: blueviolet;
}

input {
    border-radius: 30px;
    border-color: blue;
}

button {
    border-style: dotted;
    border-color: blue;
}